/* Corpo de todas as páginas */
body {
    font-family: monospace;
    background-color: #292929;
    color: #ffffff;
    padding: 20px;
}

/* Botões e barra navegação */
.navbar {
    display: flex;
    justify-content: flex-start;
    padding-bottom: 30px;
}

.btn {
    width: auto;
    background-color: darkgray;
    border: none;
    font-size: 14px;
    padding: 5px 20px;
    border-radius: 5px;
    margin-right: 2%;
    color: black;
}

.btn:hover {
    cursor: pointer;
    background-color: gray;
}

/* Alinhamento das div dos links e das skills */
.links .skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

/* Alinhamento das imagens dos links e das skills */
.a-link .icon {
    margin-right: 2%;
    margin-left: 0;
}

/* Tamanho das imagens dos links */
.icon {
    width: 45px;
}

/* Tamanho das imagens das skills */
.icon-skills {
    width: 25px;
}

/* Título e texto */
.titulo {
    margin: 0;
}

.texto {
    text-align: justify;
    font-size: 16px;
    margin-top: 10px;
}

/* "Terminal" da pagina versionamento-git.html */
.terminal {
    border-radius: 5px;
    background-color: #222222;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow-x: auto;
    margin: 0;
    padding: 20px;
}

pre code {
    margin: 0;
    padding: 0;
}

/* Links */
.texto-link {
    color: #007bff;
    text-decoration: none;
    margin-bottom: 10px;
}

.texto-link:hover {
    text-decoration: underline;
    cursor: pointer;
}

.texto-link:visited {
    color: #007bff;
}

/* Lista */
.lista {
    list-style-type: none;
    padding: 0;
}

/* Tabela */
table {
    width: 100%;
    border-collapse: collapse;
}

th {
    background-color: #121212;
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th:hover {
    background-color: #151515;
    cursor: pointer;
}

td {
    background-color: #212121;
    border: 1px solid #ddd;
}

table tbody tr:nth-child(even) td {
    background: #313131;
}
table tbody tr:hover td {
    background: #414141;
    cursor: pointer;
}

/* Seleção para Lista ou Tabela */
label {
    display: block;
    width: fit-content;
}

input[type="radio"] {
    display: none;
}

.radio-custom {
    font-size: 16px;
    margin: 0;
}

input[type="radio"]:checked + .radio-custom::after {
    content: " ✓";
}

input[type="radio"]:checked + .radio-custom {
    font-size: 16px;
    text-decoration: underline;
}