body {
    font-family: monospace;
    background-color: #1e1e1e;
    color: #ffffff;
    padding: 20px;
}

.btn {
    width: auto;
    background-color: darkgray;
    border: none;
    font-size: 14px;
    padding: 5px 20px;
    border-radius: 5px;
    margin-left: 2%;
    color: black;
}

.btn:hover {
    cursor: pointer;
    background-color: gray;
}

.navbar {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}

.links .skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.a-link .icon {
    margin-right: 2%;
    margin-left: 0;
}

.icon {
    width: 45px;
}

.icon-skills {
    width: 25px;
}

.titulo {
    margin: 0;
}

.texto {
    text-align: justify;
    font-size: 16px;
    margin-top: 10px;
}


.terminal {
    border-radius: 5px;
    background-color: #222222;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow-x: auto;
    margin: 0;
    padding: 20px;
}

pre code {
    margin: 0;
    padding: 0;
}